/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.banner-image {
    max-height: 100px;
    margin: 2em auto;
    border: 1px solid grey;
    border-radius: 12px;
}

.navbar-brand {
    font-size: 110%;
}

.navbar-brand img {
    height: 35px;
    padding-bottom: 12px;
    padding-left: 5px;
}

.pad-75px {
    height: 75px;
}

.mgn-btm-10px {
    margin-bottom: 10px;
}

.mgn-top-8px {
    margin-top: 8px;
}

.black-text {
    color: black;
}

.msgdelform {
    display: inline-block;
    margin-left: 5px;
}

.inblock {
    display: inline-block;
}

.padleft-5px {
    padding-left: 5px;
}

.height-52px {
    height: 52px;
}

.mgn-btm-5px {
    margin-bottom: 5px;
}

.padright-0px {
    padding-right: 0px;
}

#msgsendbtn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}

.home-list-container {
    max-height: 600px;
    overflow-y: auto;
    padding: 5px;
}

.footer {
    margin-top: 10em;
    text-align: center;
}

.message-content {
    overflow-wrap: break-word;
}

.task-description {
    /* Using !important in case a "smart" guy messes with inline CSS, to make his life harder */
    overflow-wrap: break-word !important;
}

.panel-body {
    /* For some reason, the datetimepicker doesn't work unless we do this. */
    position: relative;
}

@media screen and (max-width: 767px) {
    button.navbar-toggle[data-toggle="collapse"] {
        float: left;
        margin-left: 15px;
    }

    .navbar-header .navbar-brand {
        margin-left: -20px;
    }

    .navbar-header .navbar-brand img {
        display: none;
    }
}